[submodule "lib/sdsl"]
	path = lib/sdsl
	url = https://github.com/tsnorri/sdsl-lite.git
[submodule "lib/range-v3"]
	path = lib/range-v3
	url = https://github.com/ericniebler/range-v3
[submodule "lib/libdispatch"]
	path = lib/libdispatch
	url = https://github.com/nickhutchinson/libdispatch.git
[submodule "lib/aho_corasick"]
	path = lib/aho_corasick
	url = https://github.com/tsnorri/aho_corasick.git
