**/.DS_Store

# Products
tribble/find-superstring/cmdline.c
tribble/find-superstring/cmdline.h
tribble/find-superstring/find-superstring

tribble/find-superstring-ukkonen/cmdline.c
tribble/find-superstring-ukkonen/cmdline.h
tribble/find-superstring-ukkonen/find-superstring-ukkonen

tribble/gen-repetitive/gen-repetitive

# Test files
testcases/*.sdsl
testcases/*.strings

# Local make variables
local.mk

# Profiler files
*.gcda
*.gcno

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
